<%- include("header_template") -%>

  <div class="box">
    <h1 class="heading" id="<%= isWeekDay %>"><%= day %></h1>
  </div>
  
  <div class="box">
    <% for(let index = 0; index < todoList.length; index++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= todoList[index] %></p>
      </div>
    <% } %>

    <form class="item" action="/" method="POST">
      <input type="text" name="newItem" id="<%= isWeekDay %>" placeholder="What's next?'" autocomplete="off">
      <button type="submit" name="page" value="<%= day %>" id="<%= isWeekDay %>">+</button>
    </form>
  </div>

<%- include("footer_template") -%>